body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 10px rgb(146, 4, 4);
    padding: 30px;
    font-size: 35px;
    color: rgb(255, 0, 0);
}

.chamada {
    background: rgb(168, 39, 39);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
 h1{
    color: rgb(218, 18, 3);
    font-size: 20px;
}


p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 18px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(238, 255, 0);
}

.categoria h2 {
    color: rgb(187, 161, 13);
    font-size: 40px;
}